header, div, nav, form, {
	display:block;
}

.innerWrapper{
	padding-left:40px;
	padding-right:40px;
}

.upper_header {
	position:relative;
	background: #000000;
	color:#fff;
}

.lower_header{
	background: #000000;
  color:#fff;
  overflow: auto;
}

.navbar{
	min-height:30px;
	position:inherit;
	margin-bottom:0;
}

.navbar-inverse {
	background-color:#000000;
}

.search{
	padding:10px 0;
}

.alignCenter{
	text-align: center;
}

/* buttons in the Support section */
.support-button {
	/* style */
	background-color: black;
	color: white;
	border-style: none;

	/* size */
	width: 150px;
	padding: 10px 10px;

}
